@import url("../css/sections/header.css");
@import url("../css/style.css");
@import url("../css/sections/footer.css");
@import url("../css/sections/subscribe.css");


:root {
  --primary-color:#b1454a;;
  --secondary-color: #000000;
  --dark-color: #333;
  --light-color: #fff;
  --gray-color: #fff0de;
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.subscription {
  padding: 4rem 2rem;
  background-color: var(--primary-color);
  background-image: url('../assets/subscribe_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 1000px;
  min-height: 620px;
  flex-direction: column;
}

